<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        	<rewrite>
            <rules>
                <clear />
	<rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <action type="Redirect" url="{C:1}://dl.dropboxusercontent.com/u/350004313/CDN/i/{R:1}" redirectType="Found" />
                </rule>
				</rules>
				</rewrite>
    </system.webServer>
</configuration>
