<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://s.betaleaf.net/2dsmOpx"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
      <a class="navbar-brand" href="http://s.betaleaf.net/2dqItSn">Software</a>
      <a class="navbar-brand" href="http://s.betaleaf.net/2cRxpfE">Testimonies</a>
      <a class="navbar-brand" href="http://s.betaleaf.net/2dRkmIl">Order</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
		{% include social.html %}
      </ul>
    </div>
  </div>
</nav>
