<meta property="og:site_name" content="BetaLeaf.net" />
<meta property="og:title" content="BetaLeaf - {{ page.title }}" />
<meta property="og:description" content="I'm Jeff Savage, a Computer Technician, Virus Removal Specialist, and Software Engineer." />
<meta property="og:image" content="{{ site.url }}/static/img/Avatar2.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
      <a class="navbar-brand" href="{{ site.url }}/software.html">Software</a>
      <a class="navbar-brand" href="https://shop.BetaLeaf.net/">Order  Virus  Removal</a>      
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
	<a class="navbar-brand">Social Links:</a>{% include social.html %}
      </ul>
    </div>
  </div>
</nav>
