<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>Dota 2</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/dota-auto-acceptor.html">AutoAcceptor</a></strong>
			- Automatically accepts the game when Dota 2 manages to find a match.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/dota-instapicker">InstaPicker</a></strong>
			- Always get the Hero you want to play with this Dota 2 InstaPicker.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/MeepoHelper.html">MeepoHelper</a></strong>
			- An Instant Poof script for Meepo.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">InvokerHelper</a></strong>
			- Work In Progress.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/dota-replay-tool.html">Replay Tool</a></strong>
			- A tool to move Replay Files to the proper folder.
		</h5>
		<br>
		<h4>Game Tools</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/justask.html">MapleStory JustAsk</a></strong>
			- A Bishop Bot. Simply ask in party chat and you shall receive.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/borderlands-2-oz-helper-the-pre-sequel.html">Borderlands 2 OZ Helper</a></strong>
			- Replenish all your ammo quickly by facing the ammo machine and pressing a hotkey.
		</h5>
		<br>
		<h4>Utilities</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/PortableApps-App-Creation-Wizard">PortableApps App Creation Wizard</a></strong>
			- A simple GUI-based wizard for assisting developers creating PortableApps.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/SoundBoard">SoundBoard</a></strong>
			- Play any song or sound you want at the press of a hotkey.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/AndyRoot">AndyRoot</a></strong>
			- OneClick Root for Andy Emulator.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/false-positive-reporter.html">False Positive Reporter</a></strong>
			- Quickly submit false positive reports to antivirus vendors for whitelisting.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/PMSCP.html">Plex Media Server Couch Potato Edition</a></strong>
			- Your complete solution for watching Movies.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/IniProcessor.html">IniProcessor</a></strong>
			- Reads the values from one INI and writes them to another.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/cursortimer.html">CursorTimer</a></strong>
			- CursorTimer is a timer that displays it’s remaining time near your cursor.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/randomly.html">Randomly</a></strong>
			- Uses the Random.org API to pick randomly between a list you define.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://betaleaf.net/winkeyguard.html">WinKeyGuard</a></strong>
			- Disables the Windows Key.
		</h5>
    </div>
  </div>
</div>
</section>
