<div class="social">
	<h4>
	{% if site.steam %}
	  <span Title="Steam"><a href="http://steamcommunity.com/id/{{ site.steam }}"><i class="fa fa-steam"></i></a></span>
    {% endif %}
    {% if site.github %}
	  <span Title="GitHub"><a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></span>
    {% endif %}
    {% if site.email %}
	  <span Title="Email"><a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a></span>
    {% endif %}
	{% if site.facebook %}
	  <span Title="Facebook"><a href="http://fb.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a></span>
    {% endif %}
    {% if site.twitter %}
	  <span Title="Twitter"><a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></span>
    {% endif %}
    {% if site.linkedin %}
	  <span Title="LinkedIn"><a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></span>
    {% endif %}
	{% if site.stackoverflow %}
	  <span Title="Stack Overflow"><a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a></span>
    {% endif %}
	</h4>
</div>
<img src="/static/img/1468338688349.jpg" alt="Scan me with the Facebook Messenger app."></img>  