<section id="software">
<div class="container">
  <h3>Software</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>Dota 2</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/dota-auto-acceptor.html">AutoAcceptor</a></strong>
			- Automatically accepts the game when Dota 2 manages to find a match.
		</h5>
	    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/DotaRandom">DotaRandom</a></strong>
			- A Random Hero Generator for Dota. Uses the Random.org API.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/MeepoHelper">MeepoHelper</a></strong>
			- An Instant Poof script for Meepo.
	    	</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/dota-replay-tool.html">Replay Tool</a></strong>
			- A tool to move Replay Files to the proper folder.
		</h5>
		<br>
		<h4>MapleStory</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/JustAsk">MapleStory JustAsk</a></strong>
			- A Bishop Bot. Simply ask in party chat and you shall receive.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/MapleMods">MapleMods</a></strong>
			- Curse Filter and Tips Removal for Maplestory.
		</h5>
	    	<h5>
			<i class="fa fa-credit-card"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/MSItemFilter">Item Filter</a></strong>
			- Item Filter for Maplestory. No more tossing unwanted items.
		</h5>
		<br>
		<h4>Utilities</h4>
		<br>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/AndyRoot">AndyRoot</a></strong>
			- One-Click Root for Andyroid.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/ShadowPlay-Helper">ShadowPlay Helper</a></strong>
			- A helper tool for Nvidia ShadowPlay that will play the last saved video upon hotkey.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/false-positive-reporter.html">False Positive Reporter</a></strong>
			- Quickly submit false positive reports to antivirus vendors for whitelisting.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/PortableApps-App-Creation-Wizard">PortableApps App Creation Wizard</a></strong>
			- A simple GUI-based wizard for assisting developers creating PortableApps.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/reduce-memory">Reduce-Memory</a></strong>
			- A tool for reducing memory usage.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/WiFi-Hotspot">WiFi-Hotspot</a></strong>
			- A utility to enable, disable, and configure the WiFi-Hotspot feature on Windows devices.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/SoundBoard">SoundBoard</a></strong>
			- Play any song or sound you want at the press of a hotkey.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/IniProcessor">IniProcessor</a></strong>
			- Reads the values from one INI and writes them to another.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/cursortimer.html">CursorTimer</a></strong>
			- CursorTimer is a timer that displays it’s remaining time near your cursor.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/randomly.html">Randomly</a></strong>
			- Uses the Random.org API to pick randomly between a list you define.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="{{ site.url }}/winkeyguard.html">WinKeyGuard</a></strong>
			- Disables the Windows Key.
		</h5>
    </div>
  </div>
</div>
</section>
