---
layout: layout
---

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		{{ page.date | date: "%B %e, %Y" }}
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ content }}
			   <hr>
			   Like my software? Let others know by commenting below. It would be greatly appreciated.  
			   <hr>
				<a href="https://www.amazon.com/?&_encoding=UTF8&tag=beta06b-20&linkCode=ur2&linkId=ddcfeb25d75de6688d79d51c4407a3a3&camp=1789&creative=9325">Amazon: Online retailer of books, movies, music and games along with electronics, toys, apparel, sports, tools, groceries and general home and garden items.</a>  
				<a href="https://lastpass.com/f?4159206">LastPass: The best way to manage passwords.</a>  
				
			   <div class="related-posts">
				   <h5>Related Posts</h5>
				   {% for post in site.related_posts limit:3 %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4">
								 <h6 style="text-align: right">
								 	{{ post.date | date: "%B %e, %Y" }}
								 </h6>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8">
								 <h6 style="text-align: left">
								 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h6>
							 </div>
						</div>
					{% endfor %}
			   </div>
			</div>
		</div>
	</div>
	{% include disqus.html %}
</div>
